# Data Cleaning

In [14]:
import pandas as pd

### Get Data From Github

In [15]:
patron_file = 'Patron.xlsx'
patron_visit_file = 'PatronInVisit.xlsx'
household_file = 'Household.xlsx'
household_visit_file = 'HouseHoldVisit.xlsx'

df_patron = pd.read_excel(patron_file)
df_patron_visit = pd.read_excel(patron_visit_file)
df_household_file = pd.read_excel(household_file)
df_household_visit_file = pd.read_excel(household_visit_file)

### Data Exploration

In [24]:
df_patron_visit.head(3)

,PK_PatronInVisit,FK_Patron,FK_HouseholdVisit,createdDateTime,createdBy
0,1,1,1,2019-05-09 08:24:41,Amanda Admin
1,2,2,1,2019-05-09 08:24:41,Amanda Admin
2,3,3,2,2019-05-09 08:30:41,Ricky Reports

In [23]:
df_patron_visit['createdDateTime'].describe()

count                            37748
mean     2024-11-13 03:37:31.490304256
min                2019-05-09 08:24:41
25%                2024-06-05 10:07:50
50%                2024-11-20 10:24:41
75%                2025-05-14 18:31:44
max                2025-10-08 18:54:26
Name: createdDateTime, dtype: object